
.homepage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    color: var(--text-primary);
}
.hello{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hello > p {
    border-radius: 10px;
    background-color: var(--paradiv);
    padding: 12px 100px;
}
.homepage .propic{
    display: flex;
    justify-content: center;
    align-items: center;

}
.propic > .me{
    height: 80px;
    width: 80px;
}
.propic > .me{
    margin: 8px;
}

